/* BEGIN EXTERNAL SOURCE */
div {
margin-left: 35px; display: flex;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border-bottom: 2px solid  rgba(242, 114, 236, 0.808);
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 110px; margin: 5px;
}
/* END EXTERNAL SOURCE */
