
@{
    ViewBag.Title = "Porucrar sala";
    Layout = "~/Views/Shared/_DuvidoLayoutPage.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col" class="">
            Oi
        </div>

        <div class="col">
            Oi
        </div>
        <div class="col">
            Oi
        </div>
    </div>




</div>
