::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
}

/* Body */
body {
    padding: 2em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px); /* Aplica o efeito de desfoque */
    background-image: url(../Imagens/Universal/Imagens/fundo.png);
    background-position: 100%
}




/* Fonte personalizada */
@font-face {
    font-family: Roboto;
    src: url(https://fonts.google.com/specimen/Roboto?query=roboto) format("truetype");
}

/* Estilo da seção principal */
.main {
    height: 700px;
    width: 900px !important;
    border-radius: 90px;
    border: 2px solid #f272ecce;
    background-color: rgba(149, 101, 177, 0.644);
    margin: auto;
    margin-top: 10px;
    padding-left: 25px;
    /* Adicione outras propriedades da classe .main aqui */
}
/* Logo */
#logo {
    align-items: center;
    height: 160px;
    width: 270px;
    margin: auto;
    margin-top: 30px;
    background-image: url(../Imagens/UsuarioAnonimo/Imagens/logo.png);
    background-size: 98%;
    background-repeat: no-repeat;
    margin-left: 40px;
    /* Adicione outras propriedades da classe #logo aqui */
}
.audio-controls {
    text-align: center;
    margin: 35px;
    position: fixed; /* Isso faz com que a div seja posicionada de forma fixa na janela do navegador */
    top: 0; /* Coloca a div no topo da janela */
    right: 0; /* Coloca a div no canto esquerdo da janela */

}

#muteButton {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(242, 114, 236, 0.808); /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 10px; /* Arredonda as bordas do botão */
    transition: background-color 0.3s; /* Adiciona uma transição suave de cor ao botão */
    

}

    #muteButton:hover {
        background-color: rgb(179, 141, 250); /* Cor de fundo do botão ao passar o mouse */
    }

